@font-face {
    font-family: "Acre";
    src: url('Station.ttf') format('truetype');
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

/*Webpage body type*/
body {
    font-family: "Acre";
    background-color: #ffffff;
}

/*Navigation bar*/
nav {
    width: 100%;
    background-color: #ffffff;
    padding-left: 30px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*Navbar Links*/
.nav-links {
    list-style: none;
    display: flex;
}

/*Navigation button position*/
.nav-item a {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    color: #000000;
}

/*Current background color of the button*/
.nav-item:hover {
    background-color: #a66457;
}

/*New button color after its hover*/
.nav-item:hover a {
    color: white;
}

/*Logo position*/
.logo {
    display: inline-block;
}


/*Logo image size*/
.logo img {
    width: 70px;
    vertical-align: middle;
}

/*Logo width*/
img {
    width: 75px;
}

/*Loader position in webpages*/
#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid #ededed;
    border-radius: 50%;
    border-top: 16px solid #a66457;
    ;
    ;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

/*Loader animation*/
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#myDiv {
    display: none;
    text-align: center;
}

/*Add animation to "page content"*/
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0px;
        opacity: 1
    }
}

@keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}

/*Header image*/
.hp-img {
    width: 100%;
    margin-top: -2.4pc;
}

/*Centered text*/
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -660%);
    color: white;
    font-size: 50px;
}

.introduction {
    font-weight: 500;
    color: #a66457
}

.i-paragraph {
    text-align: left;
    line-height: 3;
    margin-right: 10pc;
    margin-left: 10pc
}

.photography {
    font-weight: 500;
    color: #a66457
}

div.gallery img {
    width: 100%;
    height: auto;
}

/*Under description of image*/
div.desc {
    padding: 15px;
    text-align: center;
}


.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.contact {
    font-weight:500;
}

/*Contact form*/
form {
    max-width: 500px;
    margin: 0 auto;
    text-align: left;
    padding: 20px 0;
}

input,
textarea,
label {
    display: block;
    margin: 0 auto;
    width: 100%;
    color: #000000;
}

input,
textarea {
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid #000000;
}

input[type=submit] {
    background-color: #000000;
    font-family: "Acre";
    padding: 15px 0;
    color: white;
    font-size: 18px;
    border-bottom: none;
    margin-top: 30px;
    cursor: pointer;
    transition: all .3s ease;
}

input[type=submit]:hover {
    background: #a66457;
    color: white;
}

input,
textarea {
    color: white;
    font-size: 18px;
    padding: 10px;
}

input:focus,
textarea:focus {
    outline: 1px solid #000000;
}
